{% extends 'base.html.twig' %}

{% block title %}Listes des catégories{% endblock %}

{% block body %}
<div class="app-content">
    <div class="container my-4">
        <h1 class="text-center">Liste des catégories</h1>
        <div class="container-fluid d-flex justify-content-center category mt-4">
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item d-flex justify-content-between">
                        <h5>{{category.name}}</h5>
                        <div class="d-flex align-items-center">
                            <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier<i class="bi bi-pencil"></i></a>
                            {{ include('category/_delete_form.html.twig') }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
</div>
    
{% endblock %}
{# <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a> #}
                        {# <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a> #}